<!DOCTYPE html>
<html>

<head>
	<title>SD: Trabajo de Laboratorio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- jQuery UI -->
	<link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">

	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- styles -->
	<link href="css/styles.css" rel="stylesheet">

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="vendors/form-helpers/css/bootstrap-formhelpers.min.css" rel="stylesheet">
	<link href="vendors/select/bootstrap-select.min.css" rel="stylesheet">
	<link href="vendors/tags/css/bootstrap-tags.css" rel="stylesheet">

	<link href="css/forms.css" rel="stylesheet">

</head>

<body>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<!-- Logo -->
					<div class="logo">
						<h1 style="color:white">Simulación Compra-Venta Online</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="app" class="page-content">
		<div class="row">
			<div class="col-md-2">
				<div class="sidebar content-box" style="display: block;">
					<ul class="nav">
						<!-- Main menu -->
						<li><a href="index.html"><i class="glyphicon glyphicon-home"></i> Inicio</a></li>
						<li><a href="#"
							data-toggle="tooltip" data-placement="top" 
								title="Iniciar TODOS los server en modo PAP"><i class="glyphicon glyphicon-flash"></i> Iniciar</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-10">

				<div class="row">
					<div class="col-md-6">
						<div class="content-box-large">
							<div class="panel-heading">
								<div class="panel-title">Servidor Web</div>

								<div class="panel-options">
									<a href="#" data-rel="collapse"
										data-toggle="tooltip" data-placement="top" 
											title="Nueva compra"><i class="glyphicon glyphicon-shopping-cart"></i></a>
								</div>
							</div>
							<div class="panel-body">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>#</th>
													<th>N° Sesion</th>
													<th>N° Compra</th>
													<th>Evento</th>
													<th>Ejecutar</th>
													<th>Datos</th>
												</tr>
											</thead>
											<tbody>
												<tr v-for="(sesion, index) in sesiones_web">
													<th scope="row">{{index + 1}}</th>
													<td style="width: 12%">{{sesion.sesion_id}}</td>
													<td style="width: 12%">{{sesion.num_compra}}</td>
													<td style="width: 55%">{{sesion.evento}}</td>
													<td style="text-align: center"><a href="#"><i class="glyphicon glyphicon-play"></i></a></td>
													<td style="text-align: center"><a href="#"><i class="glyphicon glyphicon-pencil"></i></a></td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<textarea class="form-control" placeholder="Log" rows="7" 
												style="resize: none"></textarea>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="content-box-large">
							<div class="panel-heading">
								<div class="panel-title">Servidor Compras</div>
							</div>
							<div class="panel-body">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>#</th>
													<th>N° Compra</th>
													<th>Evento</th>
													<th>Ejecutar</th>
													<th>Datos</th>
												</tr>
											</thead>
											<tbody>
												<tr v-for="(sesion, index) in sesiones_web">
													<th scope="row">{{index + 1}}</th>
													<td style="width: 15%">{{sesion.num_compra}}</td>
													<td style="width: 65%">{{sesion.evento}}</td>
													<td style="text-align: center"><a href="#"><i class="glyphicon glyphicon-play"></i></a></td>
													<td style="text-align: center"><a href="#"><i class="glyphicon glyphicon-pencil"></i></a></td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<textarea class="form-control" placeholder="Log" rows="7" 
												style="resize: none"></textarea>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div><!--  Page content -->
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="copy text-center">
				Universidad Nacional de la Patagonia "San Juan Bosco" /
				<a href='http://www.madryn.unp.edu.ar/index.php/facultad-ingenieria'> Sede Puerto Madryn - FI</a>
			</div>

		</div>
	</footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- jQuery UI -->
	<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bootstrap/js/bootstrap.min.js"></script>

	<script src="vendors/form-helpers/js/bootstrap-formhelpers.min.js"></script>

	<script src="vendors/select/bootstrap-select.min.js"></script>

	<script src="vendors/tags/js/bootstrap-tags.min.js"></script>

	<script src="vendors/mask/jquery.maskedinput.min.js"></script>

	<script src="vendors/moment/moment.min.js"></script>

	<script src="vendors/wizard/jquery.bootstrap.wizard.min.js"></script>

	<!-- bootstrap-datetimepicker -->
	<link href="vendors/bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet">
	<script src="vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>


	<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"
	/>
	<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

	<script src="js/custom.js"></script>
	<script src="js/forms.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/socket.io.js"></script>
	<script src="js/appSimulacionPAP.js"></script>
</body>

</html>